<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Patrimonio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of itens">
      <ion-item lines="inset" button [routerLink]="['/itens', iten.id]">
        <ion-label>
          {{iten.itens}}
        </ion-label>
      </ion-item>
     <ion-item-options side="end">
       <ion-item-option (click)="onRemove(item)" color="secodary">
          <ion-icon name="checkmark" slot="end"></ion-icon>
       </ion-item-option>
     </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/itens" routerDirection="foward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>
